Com.Anqa.Service.Core.Lib/bin
Com.Anqa.Service.Core.Lib/obj
Com.Anqa.Service.Core.WebApi/bin
Com.Anqa.Service.Core.WebApi/obj
Com.Anqa.Service.Core.WebApi/appsettings.json
Com.Anqa.Service.Core.WebApi/Properties/launchSettings.json
